
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  background-color: rgb(31, 30, 30);
  color:white;
  font-family: 'Press Start 2P', cursive;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.header-sec{
  display: flex;
  flex-direction: column;
  height: 35vh;
  border-bottom: 10px solid white;
 
}
.first-sec{
  margin: 1em;
  display: flex;
  justify-content: space-between;

}

#reset{
  font-size: 1.2rem;
  background-color: white;
  padding: 1em 1.75em;
  color: rgb(31, 30, 30);
  cursor: pointer;
  
}
.guess-my-number{
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.comp-guess-container{
  display: flex;
  justify-content: center;
}

#comp-guess {
  width: 150px;
  
  

  font-size: 3.5rem;
  font-weight:bold;
  padding:2rem 16px;
  background-color:white;
  color: rgb(31, 30, 30);
  text-align: center;
  
}


.main-sec{
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}
#player-input{
  max-width:100%;
  height: 100px;
  border: 5px solid white;
  background-color: inherit;
  text-align: center;
  font-family: inherit;
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
}
#player-input[placeholder]{
  font-size: 1rem;
}
#check-btn{
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding:1em;
  font-family: inherit;
  padding: 1em 1.75em;
  cursor: pointer;
}
.game-input{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

}
.input-btn{
  
  align-self: center;
}
.result-sec{
  display: flex;
  flex-direction: column;
justify-content: space-between;
width: 500px;
flex-wrap: wrap;

}


#display-dashboard{
  flex: 0.5;
  flex-basis: 0;
}
#reset:active,
#reset:hover,
#check-btn:active,
#check-btn:hover{
  background-color: rgba(255, 255, 255, 0.452);
}
.github-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 6px;
  
}
.github-link:hover,
.github-link:active{
  color:rgba(206, 190, 190, 0.753) ;
}
#game-mode{
  font-family: inherit;
  padding: 0.75rem;
  border: none;
  background-color: white;
  color: rgb(31, 30, 30);
  cursor: pointer;
  border: 1px solid transparent;
  border-color: transparent;
}
.modal{
display:none;
position: fixed;
z-index:1;
left:0;
top:0;
width:100%;
height: 100%;
background-color: rgba(0,0,0,0.4);
}
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 10% auto;
  padding:16px;
  border: 1px solid #0f0606;
  width: 35%;
  color: black;
 
}
.modal-content img{
  padding-bottom: 8px;
}
.modal-content p {
  padding: 8px ;
  
}

.game-win{
  font-size: 40px;
  background: linear-gradient(90deg,green ,#BD8600)   ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 100% 50%;
}
.game-lose{
  font-size: 40px;
  background: linear-gradient(90deg ,red ,#BD8600)   ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 100% 50%;
}

#won-or-lost{
  font-size: 24px;
  color: green;
}
#close{
  align-self: flex-end;
  padding:4px;
  border-radius: 50%;
}
#close:hover,
#close:focus{
  color:black;
  text-decoration: none;
  cursor:pointer;
  background-color: rgba(0, 0, 0, 0.233);
}
#play-again-btn{
  font-family: inherit;
  padding: 12px 24px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.76);
  margin-top: 4px;
  
}
#play-again-btn:hover,
#play-again-btn:focus{
  color:black;
  text-decoration: none;
  cursor:pointer;
  background-color: rgba(0, 0, 0, 0.233);
}
footer{
 display:flex;
  background-color:rgba(255, 255, 255, 0.452) ;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


